@import '../../variable';

.input__part {
  display: flex;
  position: relative;
  @media (max-width: 520px) {
    flex-direction: column;
    width: 100%;
    margin-bottom: 5px;
  }
  .input__wrapper {
    position: relative;
    transition: 0.2s ease;
    @media (max-width: 520px) {
      margin-bottom: 5px;
    }
    &:first-child {
      div {
        @media (max-width: 520px) {
          width: calc(100vw - 30px);
          background-color: white;
          border-radius: 5px;
          opacity: 1;
        }
      }
    }
    &:nth-child(2) {
      div {
        @media (max-width: 520px) {
          width: calc(100vw - 30px);
          background-color: white;
          border-radius: 5px;
          opacity: 1;
        }
      }
    }
    @media (max-width: 520px) {
      width: 100%;
    }
    &:before {
      content: attr(data-direction) ' ';
      width: 10px;
      height: 10px;
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;

      position: absolute;
      display: inline-block;
      bottom: 27px;
      z-index: 10;
      left: 10px;
      pointer-events: none;
      transition: 0.2s ease;
    }

    .input {
      font-weight: 500;
      font-size: 14px;
      color: $color-main-text;
      position: relative;
      height: 50px;
      box-sizing: border-box;
      max-width: 180px;
      width: 100%;
      border: none;
      padding: 11px 5px 11px 32px;
      @media (max-width: 520px) {
        max-width: 100%;
      }
      &:focus {
        padding: 11px 4px 11px 31px;
        outline: none;
        border: 1px solid $color-blue;
      }
    }

    .from {
      border-radius: 5px 0 0 5px;
      box-shadow: 1px 0px 7px rgba(69, 119, 191, 0.2);
      @media (max-width: 520px) {
        border-radius: 5px;
        box-shadow: 0px 0px 7px rgba(69, 119, 191, 0.2);
      }
    }

    .to {
      border-left: 1px solid $color-btn-light-grey;
      border-radius: 0 5px 5px 0;
      box-shadow: 5px 0px 7px rgba(69, 119, 191, 0.2);
      padding-left: 38px !important;
      @media (max-width: 520px) {
        border-radius: 5px;
        box-shadow: 0px 0px 7px rgba(69, 119, 191, 0.2);
        padding-left: 32px !important;
      }
      &:focus {
        padding-left: 38px !important;
        @media (max-width: 520px) {
          padding-left: 32px !important;
        }
      }

      &:before {
        content: 'B';
      }
    }
  }

  .sea {
    .input {
      &:focus {
        border: 1px solid $color-blue;
      }
    }

    &:before {
      color: $color-blue;
    }
  }

  .air {
    .input {
      &:focus {
        border: 1px solid $color-air;
      }
    }

    &:before {
      color: $color-air;
    }
  }

  .road {
    .input {
      &:focus {
        border: 1px solid $color-land;
      }
    }

    &:before {
      color: $color-land;
    }
  }

  .to__wrapper {
    &:before {
      left: 17px;
      @media (max-width: 520px) {
        left: 11px;
        bottom: 27px;
        margin-bottom: 0;
      }
    }
  }

  .exchange__btn {
    cursor: pointer;
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    //box-sizing: border-box;
    border: 1px solid $color-btn-light-grey;
    background-color: $color-white;
    bottom: 13px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.2s ease;
    @media (max-width: 520px) {
      left: unset;
      right: 15px;
      top: 47%;
      transform: translateY(-50%) rotate(90deg);
      width: 30px;
      height: 30px;
      bottom: unset;
    }
    span {
      width: 100%;
      height: 100%;
      background-color: $color-blue;
      display: inline-block;
      mask: url('/design/images/apps/dist-time/panel/icon__change.svg')
        no-repeat center;
      -webkit-mask: url('/design/images/apps/dist-time/panel/icon__change.svg')
        no-repeat center;

      transition: 0.2s ease;
      @media (max-width: 520px) {
        mask-position-y: 7.5px;
        -webkit-mask-position-y: 7.5px;
      }
    }
  }

  .exchange__btn.sea {
    &:hover,
    &:focus {
      background-color: $color-blue;
      span {
        background-color: $color-white;
      }
    }
    span {
      background-color: $color-blue;
    }
  }

  .exchange__btn.road {
    &:hover,
    &:focus {
      background-color: $color-land;
      span {
        background-color: $color-white;
      }
    }
    span {
      background-color: $color-land;
    }
  }

  .exchange__btn.air {
    &:hover,
    &:focus {
      background-color: $color-air;
      span {
        background-color: $color-white;
      }
    }
    span {
      background-color: $color-air;
    }
  }
}

.title {
  display: block;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 4px;
  color: $color-btn-grey;
  cursor: text;
  @media (max-width: 520px) {
    display: none;
  }
}

.autocomplete-item {
  font-size: 10px;
  color: $darkBlueColor;
  border-bottom: 1px solid $greyColor;
  padding: 7px 15px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 520px) {
    display: flex !important;
  }
  div {
    display: flex;
    align-items: center;
  }

  span {
    font-size: 10px;
    color: $lightTextColor;
    display: inline-block;

    &.city {
      font-weight: 500;
      color: $darkBlueColor;
      white-space: nowrap;
      font-size: 12px;
      max-width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      margin-right: 3px;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background-color: $whiteBlueColor !important;
  }
}

input + div {
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  z-index: 100 !important;
  width: auto;
}
