@import '../../variable';

.submit__btn {
  cursor: pointer;
  background-image: url('/design/images/apps/dist-time/panel/icon__search.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  box-shadow: 0px 0px 7px rgba(69, 119, 191, 0.2);
  border-radius: 5px;
  padding: 11px 13px;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.3s ease;
  animation-name: animatedBtnSubmit;
  animation-duration: 200ms;
  margin-left: 5px;
  &:active {
    transition: 0.3s ease;
    transform: scale(0.93);
  }
  &-text {
    display: none;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
  }
  @media (max-width: 520px) {
    margin-left: 0;
    width: 100%;
    background-position: calc(50% - 50px);
    &-text {
      display: inline-block;
    }
  }
  .spinner {
    position: relative;
    top: -13px;
    left: -12px;
    display: block;
    @media (max-width: 520px) {
      left: -63px;
      top: -22px;
    }
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border-top: 2px solid #ffffff;
    border-right: 2px solid transparent;
    animation: spinner 1s linear infinite;
  }

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
}
.sea {
  background-color: $color-blue;
}
.air {
  background-color: $color-air;
}
.road {
  background-color: $color-land;
}
.loading {
  pointer-events: none;
  background-image: none;
  transition: 0.2s ease;
}

@keyframes animatedBtnSubmit {
  from {
    background-size: 0;
  }
  to {
    background-size: unset;
  }
}
