.map {
  grid-area: 1 / 2 / 3 / 3;
  background-image: url('/design/images/apps/map.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f5fa;
}
