.map {
  width: 100%;
  height: 100vh;
  background-image: url('/design/images/apps/map.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f0f5fa;
}
