@import 'components/variable';

.no-data {
  padding: 140px 15px 20px;
  text-align: center;
  animation-name: animateMain;
  animation-duration: 400ms;

  .search__animation {
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    height: 150px;
    width: 150px;
    border-radius: 50%;

    .center-part {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 86px;
      width: 86px;
      z-index: 5;
      background: #ffffff;
      box-shadow: 0px 4px 30px #e4ecf9;
      border-radius: 50%;
      .search {
        position: absolute;
        bottom: 21px;
        left: 25px;
        display: inline-block;
        width: 28px;
        height: 28px;
        background-color: #25a481;
        mask: url("data:image/svg+xml,%3Csvg fill='none' height='30' viewBox='0 0 29 30' width='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m28.3499 25.2486-5.5299-5.529c-.2496-.2495-.5879-.3882-.9429-.3882h-.9041c1.5308-1.9575 2.4405-4.4198 2.4405-7.0983 0-6.37191-5.1639-11.534858-11.5368-11.534858-6.37302 0-11.536856 5.162948-11.536856 11.534858 0 6.3719 5.163836 11.5348 11.536856 11.5348 2.6789 0 5.1416-.9095 7.0995-2.44v.9039c0 .3549.1387.6932.3883.9427l5.5299 5.529c.5214.5213 1.3644.5213 1.8803 0l1.5696-1.5694c.5214-.5213.5214-1.3642.0056-1.8855zm-16.4732-5.9172c-3.92145 0-7.09962-3.172-7.09962-7.0983 0-3.92075 3.17262-7.09838 7.09962-7.09838 3.9214 0 7.0995 3.17208 7.0995 7.09838 0 3.9207-3.1726 7.0983-7.0995 7.0983z' fill='%2325a481'/%3E%3C/svg%3E")
          no-repeat center / contain;
        -webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' height='30' viewBox='0 0 29 30' width='29' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m28.3499 25.2486-5.5299-5.529c-.2496-.2495-.5879-.3882-.9429-.3882h-.9041c1.5308-1.9575 2.4405-4.4198 2.4405-7.0983 0-6.37191-5.1639-11.534858-11.5368-11.534858-6.37302 0-11.536856 5.162948-11.536856 11.534858 0 6.3719 5.163836 11.5348 11.536856 11.5348 2.6789 0 5.1416-.9095 7.0995-2.44v.9039c0 .3549.1387.6932.3883.9427l5.5299 5.529c.5214.5213 1.3644.5213 1.8803 0l1.5696-1.5694c.5214-.5213.5214-1.3642.0056-1.8855zm-16.4732-5.9172c-3.92145 0-7.09962-3.172-7.09962-7.0983 0-3.92075 3.17262-7.09838 7.09962-7.09838 3.9214 0 7.0995 3.17208 7.0995 7.09838 0 3.9207-3.1726 7.0983-7.0995 7.0983z' fill='%2325a481'/%3E%3C/svg%3E")
          no-repeat center / contain;
        animation: wiggle 3s infinite;
        animation-delay: 1s;
        transform-origin: 100% 100%;
        animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
      }
      .location {
        position: absolute;
        top: 15px;
        right: 19px;
        display: inline-block;
        width: 28px;
        height: 28px;
        background-color: rgba(37, 164, 129, 0.5);
        mask: url("data:image/svg+xml,%3Csvg fill='none' height='25' viewBox='0 0 19 25' width='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.73612.905762c2.36688 0 4.63688.953248 6.31058 2.650038s2.6139 3.99813 2.6139 6.39775c0 4.03995-5.8328 11.40305-8.0674 14.07435-.1049.1271-.236.2294-.3841.2996-.148.0702-.30952.1066-.47298.1066-.16347 0-.32495-.0364-.47303-.1066-.14809-.0702-.27918-.1725-.38401-.2996-2.23467-2.6713-8.067492-10.0344-8.067492-14.07435 0-2.39962.940262-4.70096 2.613932-6.39775 1.67368-1.69679 3.94366-2.650038 6.3106-2.650038zm0 12.063738c.58838 0 1.16348-.1769 1.65278-.5083.4892-.3314.8705-.8024 1.0956-1.3535.2252-.5511.2841-1.1575.1693-1.74253s-.3981-1.12242-.8142-1.54421c-.416-.42178-.9461-.70902-1.5231-.82539-.57708-.11637-1.17522-.05665-1.71881.17162-.54358.22827-1.00818.61483-1.33506 1.1108s-.50136 1.07906-.50136 1.67556c0 .79985.31342 1.56695.87132 2.13255.55789.5656 1.31455.8834 2.10353.8834z' fill='%2325a481' opacity='.3'/%3E%3C/svg%3E")
          no-repeat center / contain;
        -webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' height='25' viewBox='0 0 19 25' width='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m9.73612.905762c2.36688 0 4.63688.953248 6.31058 2.650038s2.6139 3.99813 2.6139 6.39775c0 4.03995-5.8328 11.40305-8.0674 14.07435-.1049.1271-.236.2294-.3841.2996-.148.0702-.30952.1066-.47298.1066-.16347 0-.32495-.0364-.47303-.1066-.14809-.0702-.27918-.1725-.38401-.2996-2.23467-2.6713-8.067492-10.0344-8.067492-14.07435 0-2.39962.940262-4.70096 2.613932-6.39775 1.67368-1.69679 3.94366-2.650038 6.3106-2.650038zm0 12.063738c.58838 0 1.16348-.1769 1.65278-.5083.4892-.3314.8705-.8024 1.0956-1.3535.2252-.5511.2841-1.1575.1693-1.74253s-.3981-1.12242-.8142-1.54421c-.416-.42178-.9461-.70902-1.5231-.82539-.57708-.11637-1.17522-.05665-1.71881.17162-.54358.22827-1.00818.61483-1.33506 1.1108s-.50136 1.07906-.50136 1.67556c0 .79985.31342 1.56695.87132 2.13255.55789.5656 1.31455.8834 2.10353.8834z' fill='%2325a481' opacity='.3'/%3E%3C/svg%3E")
          no-repeat center / contain;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
      }
    }
    .particle {
      position: absolute;
      width: 20px;
      height: 20px;
      animation: shoot 5s ease infinite;
      animation-name: shoot, fade;
      @for $i from 0 to 20 {
        $t: (1 + 0.01 * random(1000)) * 1s;
        &:nth-child(#{$i + 1}) {
          transform: translate(
            random(200) - 100 + 0px,
            random(200) - 120 + 0px
          );

          background: #0088ff;
          animation-duration: (4 + 0.01 * random(700)) * 1s;
          animation-delay: -0.01 * random(500) * $t;
        }
      }
    }
    .first__img {
      mask: url("data:image/svg+xml,%3Csvg fill='none' height='31' viewBox='0 0 32 31' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m26.4188 18.3352-2.0835-.9398c.9307-3.5393-.4914-7.2988-3.5317-9.33599l.9398-2.08347c.1633-.36199.0024-.78743-.3596-.95071l-1.3104-.59108c-.362-.16328-.7874-.00234-.9507.35964l-.9398 2.08347c-3.5394-.93074-7.2989.49142-9.33604 3.53164l-2.08347-.93976c-.36199-.16328-.78743-.00234-.95072.35964l-.59107 1.31032c-.16328.362-.00234.7875.35964.9508l2.08347.9398c-.93075 3.5393.49141 7.2988 3.53169 9.336l-.9398 2.0835c-.1633.362-.0024.7874.3596.9507l1.3104.5911c.362.1632.7874.0023.9507-.3597l.9398-2.0835c3.5394.9308 7.2989-.4914 9.336-3.5316l2.0835.9398c.362.1632.7874.0023.9507-.3597l.5911-1.3103c.1633-.362.0023-.7875-.3596-.9508zm-12.7831 2.1188c-2.8951-1.3059-4.18285-4.7111-2.8771-7.6057 1.3057-2.89471 4.7106-4.18308 7.6057-2.87718 2.8951 1.30588 4.1829 4.71108 2.8771 7.60568-1.3057 2.8947-4.7106 4.1831-7.6057 2.8772zm3.9898-8.8449c-1.9902-.8977-4.3313-.0121-5.229 1.978s-.0121 4.3312 1.978 5.2289c1.9902.8977 4.3313.0121 5.229-1.978s.0121-4.3312-1.978-5.2289z' fill='%23cbd7e6'/%3E%3C/svg%3E")
        no-repeat center / contain;
      -webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' height='31' viewBox='0 0 32 31' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m26.4188 18.3352-2.0835-.9398c.9307-3.5393-.4914-7.2988-3.5317-9.33599l.9398-2.08347c.1633-.36199.0024-.78743-.3596-.95071l-1.3104-.59108c-.362-.16328-.7874-.00234-.9507.35964l-.9398 2.08347c-3.5394-.93074-7.2989.49142-9.33604 3.53164l-2.08347-.93976c-.36199-.16328-.78743-.00234-.95072.35964l-.59107 1.31032c-.16328.362-.00234.7875.35964.9508l2.08347.9398c-.93075 3.5393.49141 7.2988 3.53169 9.336l-.9398 2.0835c-.1633.362-.0024.7874.3596.9507l1.3104.5911c.362.1632.7874.0023.9507-.3597l.9398-2.0835c3.5394.9308 7.2989-.4914 9.336-3.5316l2.0835.9398c.362.1632.7874.0023.9507-.3597l.5911-1.3103c.1633-.362.0023-.7875-.3596-.9508zm-12.7831 2.1188c-2.8951-1.3059-4.18285-4.7111-2.8771-7.6057 1.3057-2.89471 4.7106-4.18308 7.6057-2.87718 2.8951 1.30588 4.1829 4.71108 2.8771 7.60568-1.3057 2.8947-4.7106 4.1831-7.6057 2.8772zm3.9898-8.8449c-1.9902-.8977-4.3313-.0121-5.229 1.978s-.0121 4.3312 1.978 5.2289c1.9902.8977 4.3313.0121 5.229-1.978s.0121-4.3312-1.978-5.2289z' fill='%23cbd7e6'/%3E%3C/svg%3E")
        no-repeat center / contain;
    }
    .second__img {
      mask: url("data:image/svg+xml,%3Csvg fill='none' height='25' viewBox='0 0 24 25' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.33957 3.03537.9494 4.58421c.04285.20691.16657.38749.34418.50418l.45235.29719c-1.40945.47627-2.67397 1.40923-3.55446 2.74945-2.09457 3.1882-1.20802 7.4689 1.9807 9.5638 3.18876 2.095 7.46956 1.2091 9.56416-1.979 2.0946-3.1882 1.208-7.469-1.9807-9.56388-1.3404-.88064-2.8716-1.23511-4.3543-1.1129l.2971-.45228c.1167-.17758.1585-.39242.1156-.59933l-.9494-4.58421c-.0895-.43221-.5113-.70935-.9408-.61809l-1.30125.26927c-.43223.08944-.70932.5112-.62258.94159zm6.29733 8.37573c1.962 1.2891 2.5095 3.9209 1.2189 5.8854-1.2889 1.9618-3.9208 2.5088-5.8857 1.2179-1.96207-1.289-2.50954-3.9209-1.21889-5.8854 1.28879-1.9617 3.92079-2.5088 5.88569-1.2179z' fill='%23cbd7e6'/%3E%3C/svg%3E")
        no-repeat center / contain;
      -webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' height='25' viewBox='0 0 24 25' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m8.33957 3.03537.9494 4.58421c.04285.20691.16657.38749.34418.50418l.45235.29719c-1.40945.47627-2.67397 1.40923-3.55446 2.74945-2.09457 3.1882-1.20802 7.4689 1.9807 9.5638 3.18876 2.095 7.46956 1.2091 9.56416-1.979 2.0946-3.1882 1.208-7.469-1.9807-9.56388-1.3404-.88064-2.8716-1.23511-4.3543-1.1129l.2971-.45228c.1167-.17758.1585-.39242.1156-.59933l-.9494-4.58421c-.0895-.43221-.5113-.70935-.9408-.61809l-1.30125.26927c-.43223.08944-.70932.5112-.62258.94159zm6.29733 8.37573c1.962 1.2891 2.5095 3.9209 1.2189 5.8854-1.2889 1.9618-3.9208 2.5088-5.8857 1.2179-1.96207-1.289-2.50954-3.9209-1.21889-5.8854 1.28879-1.9617 3.92079-2.5088 5.88569-1.2179z' fill='%23cbd7e6'/%3E%3C/svg%3E")
        no-repeat center / contain;
    }
    .third__img {
      mask: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 9 9' width='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4.32721.765259c-2.27445 0-4.117249 1.842801-4.117249 4.117251s1.842799 4.11725 4.117249 4.11725 4.11725-1.8428 4.11725-4.11725-1.8428-4.117251-4.11725-4.117251zm-1.95735 2.342521c.00002-.04977.01971-.09751.05478-.13282l.42169-.42169c.02627-.02622.05972-.04406.09613-.05128.0364-.00722.07413-.00349.10842.01072.03428.01421.06359.03827.08421.06913s.03164.06713.03166.10425v.26563c-.00003.04976-.01972.0975-.05479.13281l-.15606.15606c-.03531.03507-.08305.05476-.13281.05479h-.26563c-.04969-.00022-.09728-.02006-.13241-.05519-.03514-.03514-.05497-.08273-.05519-.13241zm2.12503 5.08679v-.11787c0-.07045-.02798-.13801-.0778-.18783-.04982-.04981-.11738-.0778-.18783-.0778h-.33536c-.17929 0-.44326-.08799-.5877-.1959l-.36856-.27725c-.09389-.07029-.17009-.16151-.22255-.26642-.05245-.1049-.07971-.2206-.0796-.33789v-.39678c-.00004-.13043.03375-.25865.09805-.37213.06431-.11348.15694-.20834.26885-.27534l.71222-.42667c.11752-.07004.25167-.10731.38848-.10791h.51798c.18011-.00003.35433.06413.49141.18096l.7172.61593h.30381c.06973.00006.13876.01388.20314.04066.06439.02678.12285.06599.17206.11539l.28721.28722c.057.05641.13397.08804.21417.08799h.22246c-.27256.49502-.66715.91213-1.14631 1.21171-.47915.29958-1.02694.47167-1.59133.49993zm2.63637-2.2429c-.03528.00013-.07023-.00686-.10275-.02056-.03252-.01369-.06195-.0338-.08651-.05913l-.53126-.54122c-.0361-.03722-.05615-.08712-.05584-.13897.00031-.05184.02096-.1015.0575-.13828l.20752-.20752v-.14444c-.00002-.04977-.01971-.0975-.05478-.13281l-.15606-.15606c-.03531-.03507-.08305-.05476-.13281-.05479h-.26563c-.03712-.00001-.0734-.01103-.10425-.03165-.03086-.02062-.05492-.04993-.06913-.08421-.01421-.03429-.01794-.07202-.01072-.10843.00722-.0364.02506-.06985.05128-.09612l.15606-.15606c.03531-.03507.08305-.05476.13281-.05479h.53126c.04969-.00021.09728-.02005.13241-.05518.03514-.03514.05497-.08273.05519-.13242v-.15605c-.00022-.04969-.02005-.09728-.05519-.13242-.03513-.03513-.08272-.05497-.13241-.05518h-.60928c-.07045 0-.13802.02798-.18783.0778-.04982.04981-.0778.11738-.0778.18783v.0747c.00012.05573-.01729.11009-.04977.15537-.03247.04529-.07837.07922-.13119.09698l-.52462.17432c-.02657.00874-.0497.02564-.06609.0483-.0164.02265-.02522.04991-.02522.07787v.03653c0 .03522-.01399.069-.0389.09391s-.05869.0389-.09392.0389h-.26562c-.03523 0-.06901-.01399-.09392-.0389s-.0389-.05869-.0389-.09391c0-.03523-.01399-.06901-.0389-.09392-.02491-.0249-.05869-.0389-.09391-.0389h-.05147c-.02469.00011-.04889.00698-.06996.01985-.02107.01288-.03821.03128-.04957.0532l-.15606.31046c-.02203.04405-.05593.08107-.09788.10689-.04194.02581-.09027.03939-.13953.0392h-.3669c-.07044 0-.13801-.02798-.18782-.0778-.04982-.04981-.0778-.11738-.0778-.18783v-.42002c.00022-.07038.02827-.13782.07802-.1876l.3337-.3337c.07677-.07718.11976-.18167.11953-.29053 0-.02797.00883-.05522.02522-.07788.0164-.02265.03953-.03956.06609-.0483l.66408-.2208c.02739-.00929.05236-.0246.07304-.04483l.44493-.44492c.02622-.02627.04407-.05972.05129-.09613s.00349-.07413-.01072-.10842c-.01422-.03429-.03827-.06359-.06913-.08422-.03086-.02062-.06714-.03163-.10425-.03165h-.34366l-.26563.26563v.13281c0 .03523-.01399.06901-.0389.09392s-.05869.0389-.09391.0389h-.26563c-.03523 0-.06901-.01399-.09392-.0389-.0249-.02491-.0389-.05869-.0389-.09392v-.33203c.00007-.02061.0049-.04092.01411-.05935.00922-.01844.02257-.03449.03902-.0469l.47979-.36026c.03155-.00166.06309-.00498.09463-.00498 1.8345 0 3.32369 1.48918 3.32369 3.32036-.00053.36382-.06111.72507-.1793 1.06916z' fill='%23cbd7e6'/%3E%3C/svg%3E")
        no-repeat center / contain;
      -webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' height='9' viewBox='0 0 9 9' width='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m4.32721.765259c-2.27445 0-4.117249 1.842801-4.117249 4.117251s1.842799 4.11725 4.117249 4.11725 4.11725-1.8428 4.11725-4.11725-1.8428-4.117251-4.11725-4.117251zm-1.95735 2.342521c.00002-.04977.01971-.09751.05478-.13282l.42169-.42169c.02627-.02622.05972-.04406.09613-.05128.0364-.00722.07413-.00349.10842.01072.03428.01421.06359.03827.08421.06913s.03164.06713.03166.10425v.26563c-.00003.04976-.01972.0975-.05479.13281l-.15606.15606c-.03531.03507-.08305.05476-.13281.05479h-.26563c-.04969-.00022-.09728-.02006-.13241-.05519-.03514-.03514-.05497-.08273-.05519-.13241zm2.12503 5.08679v-.11787c0-.07045-.02798-.13801-.0778-.18783-.04982-.04981-.11738-.0778-.18783-.0778h-.33536c-.17929 0-.44326-.08799-.5877-.1959l-.36856-.27725c-.09389-.07029-.17009-.16151-.22255-.26642-.05245-.1049-.07971-.2206-.0796-.33789v-.39678c-.00004-.13043.03375-.25865.09805-.37213.06431-.11348.15694-.20834.26885-.27534l.71222-.42667c.11752-.07004.25167-.10731.38848-.10791h.51798c.18011-.00003.35433.06413.49141.18096l.7172.61593h.30381c.06973.00006.13876.01388.20314.04066.06439.02678.12285.06599.17206.11539l.28721.28722c.057.05641.13397.08804.21417.08799h.22246c-.27256.49502-.66715.91213-1.14631 1.21171-.47915.29958-1.02694.47167-1.59133.49993zm2.63637-2.2429c-.03528.00013-.07023-.00686-.10275-.02056-.03252-.01369-.06195-.0338-.08651-.05913l-.53126-.54122c-.0361-.03722-.05615-.08712-.05584-.13897.00031-.05184.02096-.1015.0575-.13828l.20752-.20752v-.14444c-.00002-.04977-.01971-.0975-.05478-.13281l-.15606-.15606c-.03531-.03507-.08305-.05476-.13281-.05479h-.26563c-.03712-.00001-.0734-.01103-.10425-.03165-.03086-.02062-.05492-.04993-.06913-.08421-.01421-.03429-.01794-.07202-.01072-.10843.00722-.0364.02506-.06985.05128-.09612l.15606-.15606c.03531-.03507.08305-.05476.13281-.05479h.53126c.04969-.00021.09728-.02005.13241-.05518.03514-.03514.05497-.08273.05519-.13242v-.15605c-.00022-.04969-.02005-.09728-.05519-.13242-.03513-.03513-.08272-.05497-.13241-.05518h-.60928c-.07045 0-.13802.02798-.18783.0778-.04982.04981-.0778.11738-.0778.18783v.0747c.00012.05573-.01729.11009-.04977.15537-.03247.04529-.07837.07922-.13119.09698l-.52462.17432c-.02657.00874-.0497.02564-.06609.0483-.0164.02265-.02522.04991-.02522.07787v.03653c0 .03522-.01399.069-.0389.09391s-.05869.0389-.09392.0389h-.26562c-.03523 0-.06901-.01399-.09392-.0389s-.0389-.05869-.0389-.09391c0-.03523-.01399-.06901-.0389-.09392-.02491-.0249-.05869-.0389-.09391-.0389h-.05147c-.02469.00011-.04889.00698-.06996.01985-.02107.01288-.03821.03128-.04957.0532l-.15606.31046c-.02203.04405-.05593.08107-.09788.10689-.04194.02581-.09027.03939-.13953.0392h-.3669c-.07044 0-.13801-.02798-.18782-.0778-.04982-.04981-.0778-.11738-.0778-.18783v-.42002c.00022-.07038.02827-.13782.07802-.1876l.3337-.3337c.07677-.07718.11976-.18167.11953-.29053 0-.02797.00883-.05522.02522-.07788.0164-.02265.03953-.03956.06609-.0483l.66408-.2208c.02739-.00929.05236-.0246.07304-.04483l.44493-.44492c.02622-.02627.04407-.05972.05129-.09613s.00349-.07413-.01072-.10842c-.01422-.03429-.03827-.06359-.06913-.08422-.03086-.02062-.06714-.03163-.10425-.03165h-.34366l-.26563.26563v.13281c0 .03523-.01399.06901-.0389.09392s-.05869.0389-.09391.0389h-.26563c-.03523 0-.06901-.01399-.09392-.0389-.0249-.02491-.0389-.05869-.0389-.09392v-.33203c.00007-.02061.0049-.04092.01411-.05935.00922-.01844.02257-.03449.03902-.0469l.47979-.36026c.03155-.00166.06309-.00498.09463-.00498 1.8345 0 3.32369 1.48918 3.32369 3.32036-.00053.36382-.06111.72507-.1793 1.06916z' fill='%23cbd7e6'/%3E%3C/svg%3E")
        no-repeat center / contain;
    }
    @keyframes spin {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
    @keyframes shoot {
      from {
        transform: translate(0, 0);
      }
      to {
        opacity: 0;
      }
    }
    @keyframes wiggle {
      0% {
        transform: rotate(0deg);
      }
      80% {
        transform: rotate(0deg);
      }
      85% {
        transform: rotate(5deg);
      }
      95% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
    @keyframes bounce {
      0% {
        transform: scale(1, 1) translateY(0);
      }
      10% {
        transform: scale(1.1, 0.9) translateY(0);
      }
      30% {
        transform: scale(0.9, 1.1) translateY(-10px);
      }
      50% {
        transform: scale(1.05, 0.95) translateY(0);
      }
      57% {
        transform: scale(1, 1) translateY(-2px);
      }
      64% {
        transform: scale(1, 1) translateY(0);
      }
      100% {
        transform: scale(1, 1) translateY(0);
      }
    }
  }

  p {
    max-width: 320px;
    margin: 0 auto;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: $color-main-text;
  }
}
