@import '../../variable';

.distance-data {
  padding: 30px 15px;
  color: $color-main-text;

  .title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto 25px;
    animation-name: animateMain;
    animation-duration: 400ms;
  }

  .distance-calculation {
    padding-left: 40px;
    margin: 0;

    .card {
      background-color: $color-light-bcg;
      border-radius: 5px;
      padding: 10px;
      list-style: none;
      position: relative;

      animation-name: animateIn;
      animation-duration: 400ms;
      animation-fill-mode: both;
      // animation-timing-funcion: ease-in-out;

      &__title {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 8px;
      }

      .info {
        margin: 8px 0 0;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
      }

      &:first-child,
      &:last-child {
        &:before {
          left: -40px;
          width: 19px;
          height: 19px;
          border: 3px solid $color-white;
          box-shadow: 0px 0px 5px rgba(94, 107, 118, 0.25);
        }
      }

      &:first-child {
        &:after {
          transform: translateY(0);
          height: 90%;
        }
      }

      &:last-child {
        &:after {
          top: -65%;
          transform: translateY(0);
        }
      }

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: $color-blue;
        border-radius: 50%;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
      }

      &:after {
        content: '';
        position: absolute;
        display: inline-block;
        left: -29px;
        top: 50%;
        transform: translateY(-50%);
        height: 145%;
        width: 3px;
        z-index: 4;
        background-color: $color-blue;
      }

      @for $i from 1 through 50 {
        &:nth-child(#{$i}) {
          animation-delay: 100ms * $i;
        }
      }
    }

    .alone {
      &:after {
        content: none;
      }
    }

    .card + .card {
      margin-top: 15px;
    }
  }
  &__sea {
    .distance-calculation {
      .card {
        &:before {
          background-color: $color-blue;
        }

        &:after {
          background-color: $color-blue;
        }
      }
    }
  }
  &__road {
    .distance-calculation {
      .card {
        &:before {
          background-color: $color-land;
        }

        &:after {
          background-color: $color-land;
        }
      }
    }
  }
  &__air {
    .distance-calculation {
      .card {
        &:before {
          background-color: $color-air;
        }

        &:after {
          background-color: $color-air;
        }
      }
    }
  }
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-50px) translateX(-100px);
  }

  100% {
    opacity: 1;
  }
}
