@import '../variable';

.upload__wrapper {
  animation-name: animateMain;
  animation-duration: 200ms;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  justify-content: space-between;

  padding: 20px 15px;
  position: relative;
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  margin: auto auto 0;
  .prompt {
    display: none;
    bottom: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    background-color: $color-white;
    max-width: 430px;
    margin: 0 auto;
    width: 100%;
    box-shadow: 0px 0px 7px rgba(69, 119, 191, 0.2);
    border-radius: 5px;
    padding: 15px;
    box-sizing: border-box;
    &:after {
      position: absolute;
      content: '';
      display: block;
      bottom: -47px;
      left: 50%;
      transform: translateX(-50%);
      width: 150%;
      height: 50px;
    }
    b {
      font-weight: 600;
    }
    p,
    b {
      font-size: 12px;
      line-height: 15px;
      color: $color-main-text;
    }
    a {
      display: block;
      text-align: center;
      font-weight: 600;
      font-size: 16px;
      line-height: 18px;
      text-transform: uppercase;
      border-radius: 5px;
      text-decoration: none;
      color: $color-white;
      padding: 16px 20px;
      max-width: 280px;
      width: 100%;
      margin: 20px auto 0;
      background-color: $color-land;
      transition: 0.2s ease;
      box-sizing: border-box;
      &:active {
        transform: scale(0.97);
        transition: 0.2s ease;
      }
    }
    &:hover {
      display: inline-block;
      transition: 0.2s ease;
    }
  }
  .prompt__icon {
    display: inline-block;
    min-width: 20px;
    max-width: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $color-land;
    margin-right: 6px;
    cursor: help;
    mask: url("data:image/svg+xml,%3Csvg fill='none' height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.2464 2.12455c4.7831 0 8.7097 3.87399 8.7097 8.70965 0 4.8101-3.8956 8.7097-8.7097 8.7097-4.80823 0-8.70968-3.8936-8.70968-8.7097 0-4.80654 3.89524-8.70965 8.70968-8.70965zm0-1.290321c-5.52246 0-10.000001 4.479151-10.000001 9.999971 0 5.5241 4.477541 10 10.000001 10 5.5225 0 10-4.4759 10-10 0-5.52082-4.4775-9.999971-10-9.999971zm-1.45161 13.870971h.48387v-4.83871h-.48387c-.26722 0-.48388-.21666-.48388-.48387v-.32259c0-.26721.21666-.48387.48388-.48387h1.93551c.2672 0 .4838.21666.4838.48387v5.64517h.4839c.2672 0 .4839.2166.4839.4839v.3225c0 .2673-.2167.4839-.4839.4839h-2.90321c-.26722 0-.48388-.2166-.48388-.4839v-.3225c0-.2673.21666-.4839.48388-.4839zm1.45161-9.67742c-.71262 0-1.29032.5777-1.29032 1.29032s.5777 1.29032 1.29032 1.29032c.7126 0 1.2903-.5777 1.2903-1.29032s-.5777-1.29032-1.2903-1.29032z' fill='%2308f'/%3E%3C/svg%3E")
      no-repeat center / contain;
    -webkit-mask: url("data:image/svg+xml,%3Csvg fill='none' height='21' viewBox='0 0 21 21' width='21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.2464 2.12455c4.7831 0 8.7097 3.87399 8.7097 8.70965 0 4.8101-3.8956 8.7097-8.7097 8.7097-4.80823 0-8.70968-3.8936-8.70968-8.7097 0-4.80654 3.89524-8.70965 8.70968-8.70965zm0-1.290321c-5.52246 0-10.000001 4.479151-10.000001 9.999971 0 5.5241 4.477541 10 10.000001 10 5.5225 0 10-4.4759 10-10 0-5.52082-4.4775-9.999971-10-9.999971zm-1.45161 13.870971h.48387v-4.83871h-.48387c-.26722 0-.48388-.21666-.48388-.48387v-.32259c0-.26721.21666-.48387.48388-.48387h1.93551c.2672 0 .4838.21666.4838.48387v5.64517h.4839c.2672 0 .4839.2166.4839.4839v.3225c0 .2673-.2167.4839-.4839.4839h-2.90321c-.26722 0-.48388-.2166-.48388-.4839v-.3225c0-.2673.21666-.4839.48388-.4839zm1.45161-9.67742c-.71262 0-1.29032.5777-1.29032 1.29032s.5777 1.29032 1.29032 1.29032c.7126 0 1.2903-.5777 1.2903-1.29032s-.5777-1.29032-1.2903-1.29032z' fill='%2308f'/%3E%3C/svg%3E")
      no-repeat center / contain;
    transition: 0.2s ease;
    &:hover + .prompt {
      display: inline-block;
      transition: 0.1s ease;
    }

    &__error {
      transition: 0.1s ease;
      background-color: $color-air;
    }
  }
  .input__text {
    max-width: 300px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    color: $color-main-text;
  }
  .upload__lablel {
    display: flex;
    align-items: center;

    .input__wrapper {
      cursor: pointer;
      margin-left: 15px;
      width: 50px;
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      background-color: rgba(2, 188, 177, 0.1);
      background-position: center;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg fill='none' height='18' viewBox='0 0 19 18' width='19' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3CclipPath id='a'%3E%3Cpath d='m.826233.865967h18v17h-18z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)' fill='%2302bcb1'%3E%3Cpath d='m17.9824 12.5508h-4.7812v.2656c0 .4931-.2075.9661-.5767 1.3148s-.8699.5446-1.3921.5446h-2.81249c-.52215 0-1.0229-.1959-1.39212-.5446-.36921-.3487-.57663-.8217-.57663-1.3148v-.2656h-4.78125c-.11088-.0003-.22072.0202-.32322.0601-.10249.04-.19562.0986-.27402.1727-.078407.074-.140547.162-.182851.2588s-.063938.2005-.06366.3053v3.7187c-.000278.1047.021356.2085.06366.3053s.104444.1847.182851.2588c.0784.074.17153.1327.27402.1727.1025.0399.21234.0603.32322.0601h16.31249c.1109.0002.2207-.0202.3232-.0601.1025-.04.1956-.0987.2741-.1727.0784-.0741.1405-.162.1828-.2588s.0639-.2006.0637-.3053v-3.7187c.0002-.1048-.0214-.2085-.0637-.3053s-.1044-.1848-.1828-.2588c-.0785-.0741-.1716-.1327-.2741-.1727-.1025-.0399-.2123-.0604-.3232-.0601zm-4.2187 4.3828c-.1391 0-.275-.039-.3907-.1119-.1156-.073-.2057-.1767-.2589-.298-.0533-.1214-.0672-.2549-.0401-.3837.0272-.1288.0941-.2472.1925-.34.0983-.0929.2236-.1561.36-.1818.1364-.0256.2778-.0124.4062.0378.1285.0503.2383.1354.3156.2446.0772.1092.1185.2376.1185.3689-.0006.176-.0748.3446-.2066.469-.1317.1244-.3102.1946-.4965.1951zm2.25 0c-.1391 0-.275-.039-.3907-.1119-.1156-.073-.2057-.1767-.2589-.298-.0533-.1214-.0672-.2549-.0401-.3837.0272-.1288.0941-.2472.1925-.34.0983-.0929.2236-.1561.36-.1818.1364-.0256.2778-.0124.4062.0378.1285.0503.2383.1354.3156.2446.0772.1092.1185.2376.1185.3689-.0006.176-.0748.3446-.2066.469-.1317.1244-.3102.1946-.4965.1951z' opacity='.4'/%3E%3Cpath d='m7.5762 12.8167v-5.57808h-3.0832c-.62578 0-.93867-.71386-.49571-1.13255l5.34727-5.05352c.12757-.119667.30008-.186827.47988-.186827.17976 0 .35236.06716.47986.186827l5.3508 5.05352c.443.41869.1301 1.13255-.4957 1.13255h-3.0832v5.57808c.0003.1048-.0214.2085-.0637.3053s-.1044.1848-.1828.2588c-.0784.0741-.1715.1327-.274.1727s-.2124.0604-.3233.0601h-2.81245c-.11088.0003-.22072-.0201-.32322-.0601-.10249-.04-.19562-.0986-.27402-.1727-.07841-.074-.14055-.162-.18285-.2588s-.06394-.2005-.06366-.3053z'/%3E%3C/g%3E%3C/svg%3E");
      .uploadBtn {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        overflow: hidden;
        padding: 0;
        position: absolute !important;
        white-space: nowrap;
        width: 1px;
      }
    }
    .loading {
      background-image: none;
      pointer-events: none;
    }
    .error {
      background-color: rgba(238, 60, 64, 0.1);
      background-image: url("data:image/svg+xml,%3Csvg fill='none' height='18' viewBox='0 0 19 18' width='19' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3CclipPath id='a'%3E%3Cpath d='m.826233.865967h18v17h-18z'/%3E%3C/clipPath%3E%3Cg clip-path='url(%23a)' fill='%23EE3C40'%3E%3Cpath d='m17.9824 12.5508h-4.7812v.2656c0 .4931-.2075.9661-.5767 1.3148s-.8699.5446-1.3921.5446h-2.81249c-.52215 0-1.0229-.1959-1.39212-.5446-.36921-.3487-.57663-.8217-.57663-1.3148v-.2656h-4.78125c-.11088-.0003-.22072.0202-.32322.0601-.10249.04-.19562.0986-.27402.1727-.078407.074-.140547.162-.182851.2588s-.063938.2005-.06366.3053v3.7187c-.000278.1047.021356.2085.06366.3053s.104444.1847.182851.2588c.0784.074.17153.1327.27402.1727.1025.0399.21234.0603.32322.0601h16.31249c.1109.0002.2207-.0202.3232-.0601.1025-.04.1956-.0987.2741-.1727.0784-.0741.1405-.162.1828-.2588s.0639-.2006.0637-.3053v-3.7187c.0002-.1048-.0214-.2085-.0637-.3053s-.1044-.1848-.1828-.2588c-.0785-.0741-.1716-.1327-.2741-.1727-.1025-.0399-.2123-.0604-.3232-.0601zm-4.2187 4.3828c-.1391 0-.275-.039-.3907-.1119-.1156-.073-.2057-.1767-.2589-.298-.0533-.1214-.0672-.2549-.0401-.3837.0272-.1288.0941-.2472.1925-.34.0983-.0929.2236-.1561.36-.1818.1364-.0256.2778-.0124.4062.0378.1285.0503.2383.1354.3156.2446.0772.1092.1185.2376.1185.3689-.0006.176-.0748.3446-.2066.469-.1317.1244-.3102.1946-.4965.1951zm2.25 0c-.1391 0-.275-.039-.3907-.1119-.1156-.073-.2057-.1767-.2589-.298-.0533-.1214-.0672-.2549-.0401-.3837.0272-.1288.0941-.2472.1925-.34.0983-.0929.2236-.1561.36-.1818.1364-.0256.2778-.0124.4062.0378.1285.0503.2383.1354.3156.2446.0772.1092.1185.2376.1185.3689-.0006.176-.0748.3446-.2066.469-.1317.1244-.3102.1946-.4965.1951z' opacity='.4'/%3E%3Cpath d='m7.5762 12.8167v-5.57808h-3.0832c-.62578 0-.93867-.71386-.49571-1.13255l5.34727-5.05352c.12757-.119667.30008-.186827.47988-.186827.17976 0 .35236.06716.47986.186827l5.3508 5.05352c.443.41869.1301 1.13255-.4957 1.13255h-3.0832v5.57808c.0003.1048-.0214.2085-.0637.3053s-.1044.1848-.1828.2588c-.0784.0741-.1715.1327-.274.1727s-.2124.0604-.3233.0601h-2.81245c-.11088.0003-.22072-.0201-.32322-.0601-.10249-.04-.19562-.0986-.27402-.1727-.07841-.074-.14055-.162-.18285-.2588s-.06394-.2005-.06366-.3053z'/%3E%3C/g%3E%3C/svg%3E");
    }
  }
}

.spinner {
  position: relative;
  top: 12px;
  left: 13px;
  width: 25px;
  height: 25px;
  display: block;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border-top: 2px solid $color-land;
  border-right: 2px solid transparent;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
