$color-main-text: #15354E;
$color-blue: #0088FF;
$color-white: #FFF;
$color-blue-grey: #E9F0F7;
$color-grey-sec: #CBD8E3;
$color-dark-grey: #607385;
$color-light-blue: #E2F2FF;
$color-red: #F52C5C;
$color-btn-grey: #A1B3C8;
$color-btn-light-grey: #EEF4FB;
$color-placeholder: #9FB1C1;
$color-light-bcg: #F7F9FC;

* {
  font-family: "Montserrat";
}


@keyframes animateMain {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
  }
}



// Colors
$accColor : #0088FF;
$white : #FFFFFF;
$greyColor: #ECF2F9;
$textColor: #43637C;
$lightTextColor: #A1B3C8;
$darkBlueColor: #15354E;
$lightBlueColor: #E2F2FF;
$lightBorderColor: #ECF2F9;
$redColor: #FF2B16;
$whiteBlueColor: #F8FCFF;
$orangeColor: #FA821B;

// Shipment colors
$truckColor: #18A759;
$trainColor: #FF8A00;
$portColor: #15354E;
$seaColor: #0078E1;
$airColor: #ab65c3;