$color-main-text: #15354e;
$color-blue: #0088ff;
$color-white: #fff;
$color-blue-grey: #e9f0f7;
$color-grey-sec: #cbd8e3;
$color-dark-grey: #607385;
$color-light-blue: #e2f2ff;
$color-red: #f52c5c;
$color-btn-grey: #a1b3c8;
$color-btn-light-grey: #eef4fb;
$color-placeholder: #9fb1c1;
$color-light-bcg: #f7f9fc;
$color-air: #ee3c40;
$color-land: #02bcb1;
* {
  font-family: 'Montserrat';
}
.main-content {
  padding-bottom: 0;
}
@keyframes animateMain {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
  }
}

// Colors
$accColor: #0088ff;
$white: #ffffff;
$greyColor: #ecf2f9;
$textColor: #43637c;
$lightTextColor: #a1b3c8;
$darkBlueColor: #15354e;
$lightBlueColor: #e2f2ff;
$lightBorderColor: #ecf2f9;
$redColor: #ff2b16;
$whiteBlueColor: #f8fcff;
$orangeColor: #fa821b;

// Shipment colors
$truckColor: #18a759;
$trainColor: #ff8a00;
$portColor: #15354e;
$seaColor: #0078e1;
$airColor: #ab65c3;
