.main_wrapper {
  display: grid;
  grid-template-columns: 600px 1fr;
  grid-template-rows: minmax(131px, max-content) 1fr;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    height: unset;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: minmax(131px, max-content) auto;
  }
}
