@import '../../../variable';

.line__list {
  padding: 10px 60px 10px 100px;
  position: relative;
  margin: 0;
  @media (max-width: 520px) {
    padding-right: 20px;
    padding-left: 60px;
  }
}
.container__list {
  max-height: 600px;
  overflow: scroll;
  overflow-x: visible;
}
.line {
  max-width: 100%;
  width: 100%;
  min-width: 21px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0088ff;
  margin-bottom: 20px;
  position: relative;
  height: 20px;
  border-radius: 3px;
  z-index: 1;
  cursor: pointer;

  animation-name: animateIn;
  animation-duration: 400ms;
  animation-fill-mode: both;

  @for $i from 1 through 500 {
    &:nth-child(#{$i}) {
      animation-delay: 50ms * $i;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
  &__wrapper {
    position: absolute;
    width: 35px;
    top: 50%;
    transform: translateY(-50%);
    height: 35px;
    left: -10px;
    transition: 2s cubic-bezier(0.1, 0.84, 0.45, 0.94);
  }
  &__img {
    position: absolute;
    right: 0;
    width: 35px;
    height: 35px;
    border: 2px solid #0088ff;
    border-radius: 50%;
    overflow: hidden;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    img {
      object-fit: cover;
      width: 35px;
    }
  }
  &:hover {
    .line__wrapper {
      width: 100%;
      left: 5px;
    }
  }
  &__title {
    position: absolute;
    left: -120px;
    text-align: right;
    width: 100px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: $color-main-text;
    word-break: break-all;
    overflow: hidden;
    max-height: 44px;
    border-right: 30px solid transparent;
    border-top: 20px solid transparent;
    top: -15px;
    @media (max-width: 520px) {
      left: -61px;
      width: 45px;
    }
  }
  &__time {
    position: absolute;
    width: 43px;
    right: -49px;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    color: $color-main-text;
    margin: 0;
    background: white;
  }
}
.container {
  cursor: default;
  @for $i from 1 through 1000 {
    &:nth-child(#{$i}) {
      animation-delay: 20ms * $i;
    }
  }
  &:hover {
    .line__wrapper {
      width: 35px;
      left: -10px;
    }
  }
}
