@import '../../../variable';

.no-transit-data {
  animation-name: animateMain;
  animation-duration: 400ms;
  padding: 25px 15px;
  text-align: center;
  .img__part {
    display: inline-block;
    width: 30px;
    height: 30px;
    mask: url('/design/images/apps/dist-time/panel/icon__transit.svg') no-repeat
      center / contain;
    -webkit-mask: url('/design/images/apps/dist-time/panel/icon__transit.svg')
      no-repeat center / contain;
    background-color: #d5dee7;
    background-size: contain;
    margin-bottom: 8px;
    transition: 1s ease;
  }

  p {
    margin: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #d5dee7;
    cursor: default;
    transition: 1s ease;
  }
}
.title__wrapper {
  position: relative;
  .main__title {
    animation-name: animateMain;
    animation-duration: 400ms;
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    text-align: center;
    margin: 25px auto;
    color: $color-main-text;
  }
  .btn__back {
    animation-name: animateMain;
    animation-duration: 400ms;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: $color-light-blue;
    padding: 6px 20px;
    color: $color-blue;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.2s ease;
    @media (max-width: 520px) {
      right: 12px;
      font-size: 12px;
      line-height: 12px;
    }
    &:active {
      transition: 0.2s ease;
      transform: translateY(-50%) scale(0.93);
    }
  }
}

.graphic {
  animation-name: animateMain;
  animation-duration: 400ms;

  padding: 8px 25px 25px;
  overflow: hidden;
  .numbers {
    position: relative;
    margin-left: 100px;
    margin-right: 55px;
    @media (max-width: 520px) {
      margin-right: 45px;
      margin-left: 60px;
    }
    &__title {
      position: absolute;
      left: -45px;
      margin: 0;
      font-weight: 500;
      font-size: 10px;
      line-height: 12px;
      top: 50%;
      transform: translateY(-50%);
      color: $color-graphic;
    }
    &__list {
      border-top: 1px solid $color-graphic;
      padding: 6px 0 0;
      margin: 12px 0px;
      display: flex;
      justify-content: space-between;
      li {
        list-style: none;
        font-weight: 500;
        font-size: 10px;
        line-height: 12px;
        color: $color-graphic;
        position: relative;
        &:before {
          content: '';
          display: inline-block;
          height: 1000px;
          width: 2px;
          border-right: 1px dashed #d5dee6;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 19px;
        }
      }
    }
  }
}
